/* body {
background-color: red;
} */

.main-flex-container{
    border-style: solid;
    border-color: red;
    border-width: 3mm;
    display: flex;
    flex-direction: column;
}
.hero-container{
    border-style: solid;
    border-color: blue;
    border-width: 3mm;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-container{
    border-style: solid;
    border-color: green;
    border-width: 3mm;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    border-style: solid;
    border-color: purple;
    border-width: 3mm;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}